<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMS.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=sms.mdb;Persist Security Info=True;Jet OLEDB:Database Password=jlruatpuia"/>
  </connectionStrings>
  <userSettings>
    <SMS.Win.Properties.Settings>
      <setting name="ShopName" serializeAs="String">
        <value />
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
      <setting name="PhoneNo" serializeAs="String">
        <value />
      </setting>
      <setting name="Email" serializeAs="String">
        <value />
      </setting>
      <setting name="Website" serializeAs="String">
        <value />
      </setting>
      <setting name="Logo" serializeAs="String">
        <value />
      </setting>
      <setting name="TagLine" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowTheme" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowGeometry" serializeAs="String">
        <value />
      </setting>
    </SMS.Win.Properties.Settings>
  </userSettings>
</configuration>